<template>
    <div>
        <drrama-navbar/>
        <swiper :options="swiperOption">
            <swiper-slide class="slide-1 slidey">

            </swiper-slide>
            <swiper-slide class="slide-2 slidey">

            </swiper-slide>
            <swiper-slide class="slide-3 slidey">

            </swiper-slide>
            <swiper-slide class="slide-4 slidey">

            </swiper-slide>
            <swiper-slide class="slide-5 slidey">

            </swiper-slide>
       </swiper>
        <div class='container-fluid'>
        <div class='row'>
           
                <div v-for='(box,index) in boxes' :key='index' class='col-sm-3 cols no-space'>
                    <drrama-purple-card :icon='box.icon' :text='box.text' :bgcolor='box.bgcolor'></drrama-purple-card>
                </div>
            </div>
        </div>
       <drrama-button type='transi' :styleObject='leftButtonStyleOne' text='Concieve Now'/>
       <drrama-button type='swishy'  text='PLAN A FAMILY' @touched='gotoplanafamily'/>
       <drrama-button type='transi' icon='calender' :styleObject='rightButtonStyleOne' text='Concieve Later' />
    </div>
    
</template>
<script>
import drRamaButton from '~/components/commons/button'
import drRamaPurpleCard from '~/components/commons/small_card_col'
import drRamaNavBar from '~/components/commons/navigation_bar'
export default {
    data(){
        return{
             boxes:[
      {
        icon:'box1',
        text:'Make a appointment',
        bgcolor:'#C6B3EE'
      },
      {
        icon:'box2',
        text:'Study of the patient',
        bgcolor:'#B39DDB'
      },
      {
         icon:'box3',
        text:'Diagnostic tests',
        bgcolor:'#9575CD'
      },
      {
         icon:'box4',
        text:'assigning doctor',
        bgcolor:'#7E57C2'
      },
      {
         icon:'box5',
        text:'diagnosing infertility',
        bgcolor:'#673AB7'
      },
      {
         icon:'box6',
        text:'diagnostic treatment plan',
        bgcolor:'#502DA8'
      },
      {
         icon:'box7',
        text:'Prognosis and treatment',
        bgcolor:'#4527A0'
      },
      {
         icon:'box8',
        text:'Remedy and follow ups',
        bgcolor:'#2D235A'
      }
      ],
            leftButtonStyleOne:{
                    'position': 'absolute',
                    'top': '9%',
                    'z-index': '99',
                    'margin-left':'0px',
                    'border-radius':'0px'
            },
             rightButtonStyleOne:{
                    'position': 'absolute',
                    'top': '9%',
                    'z-index': '99',
                    'right':'0',
                    'margin-right':'0px;',
                    'border-radius':'0px'
            },
             swiperOption: {
                spaceBetween: 30,
                effect: 'fade',
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                autoplay: {
                    delay: 5000,
                },
            },
        }
    },
    components:{
        'drrama-button':drRamaButton,
        'drrama-purple-card':drRamaPurpleCard,
        'drrama-navbar':drRamaNavBar
    },
    methods:{
        gotoplanafamily(){
            this.$router.push({name:'plan_a_family'})
        }
    }
}
</script>
<style scoped>
/* background-blend-mode: overlay; */
  .swiper-slide {
      background-position: center;
      background-size: cover;
      min-height: 88vh;
      
      }
      .slidey{
         
          -webkit-filter: brightness(80%);
          z-index: 9;
      }

  .slide-1 {
      background-image:url('~static/carousel1.jpg');
     
  }
  .slide-2{
      background-image:url('~static/carousel2.jpg')
  }
  .slide-3{
      background-image:url('~static/carousel3.jpg')
  }
  .slide-4{
      background-image:url('~static/carousel4.jpg')
  }
  .slide-5{
      background-image:url('~static/carousel5.jpg')
  }


</style>


