<template>
<div class=' book-appointment'>
    <p>Consult our doctors right away</p>
    <p>You will be evaluated prior to starting any treatment plan</p>
    <div class='row justify-content-center'>
     <drrama-button type='transi' text='LEARN MORE' />
    <drrama-button type='transi' text='BOOK AN APPOINTMENT' />
</div>
</div>
    
</template>

<script>
import drramaButton from './button'
export default {
    components:{
        'drrama-button':drramaButton
    }
}
</script>
<style>
.book-appointment{
    min-height: 360px;
    position: relative;
    background: #59548D;
    left: 0;
    right: 0;
    width: 100%;
    color:white;
    font-size:36px;
    text-align: center;
    padding: 20px 30px;
}
</style>

