<template>
<div class='row base-footer'>
    <div class='col-md-6'>
        <p>
            Copyrights @ Dr. Rama's Test Tube Baby Centre| Privacy Policy | Site Map | Site Credits
        </p>
    </div>
    <div class='col-md-6'>
        <img src='~/static/webElvesPurple.png'>
        <span>  Powered by webElves</span>
    </div>

        
        
  
</div>
    
</template>
<script>
export default {
    
}
</script>
<style>
.base-footer{
    min-height: 45px;
    background:#59548D;
    color:white;
    font-size:12px;
    /* text-align: left; */
    padding:10px;
    padding-top:20px;
}
</style>