<template>
    <div class='foot-head-part-one'>
        <img src='~/static/drramalogo.png'/>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
.foot-head-part-one{
        min-height: 45px;
 
    background:white;
      text-align: center;
   
    padding:10px;
    padding-top:20px;
}
</style>