<template>
    <nav class="navbar navbar-light bg-mojave">
        <a class="naver-link" href="#">Home</a>
        <a class="naver-link" href="#">Infertility</a>
        <a class="naver-link" href="#">Services</a>
        <a class="naver-link" href="#">About us</a>
        <a class="naver-link" href="#">Our Doctors</a>
        <a class="naver-link" href="#">Our Hospitals</a>
        <a class="naver-link" href="#">Blogs</a>
        <a class="naver-link" href="#">More</a>

    </nav>
</template>
<script>
export default {
    
}
</script>
<style>
.bg-mojave{
    /* background: #59548D; */
    background: transparent;
    padding:50px 50px 15px 50px ;
    /* padding-top:50px;
    padding-left: 50px;
    padding-right: 50px; */
    
}
.naver-link{
    color: #fff;
    text-transform: uppercase;
    font-size:21px;
}
.naver-link:before {
  transition: all .5s;
}
.naver-link:hover {
  color: #555;
}
.naver-link{
  position: relative;
}
.naver-link:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.naver-link:hover:after {
  width: 100%;
}
.naver-link {
  transition: all 2s;
  padding:20px;
}
.naver-link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.naver-link:hover {
  color: #fff;
  z-index: 1;
}
.naver-link:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(89 ,81,168,1), rgba(198 ,179,238,1));
  }
}

</style>
