<template>
    <div :style='styleObject' class='here'>
        <div class='text-center circle' v-if='slideNumber != 0' :style='backgroundCircle'> 
            <h1>STEP</h1>
            <h1>{{slideNumber}}</h1>
        </div>
           <div class='container-fluid'>
            <div class='row' v-if='slideNumber != 0'>
                    <div class='cols col-md-6'>
                       <h2> {{title}}</h2>
                        </div>
                          <div class='cols col-md-6'>
                              <p class='right-text-fp'>
                                  Doctus sententiae definiebas ea per, quo ea eros constituto. Ad dicam docendi mediocritatem mea, tacimates recteque ex pro. Summo decore et nec, munere adolescens intellegam cum in. Sed purto consectetuer ut, et dicit persequeris mea, pri ad utinam perfecto sadipscing. Ad facilis recteque dissentias sit, ridens iriure vim eu
                              </p>
                              <drrama-button type='transi' text='Learn More' :styleObject='buttonStyle'/>
                        </div>
                </div>
            </div>
        <img :src='iconic' class='plan-slide-image'/>
     
    </div>
</template>
<script>
import drramaButton from '~/components/commons/button'
export default{
    props:{
        bgColor:{
            type:String,
            default:'#fff'
        },
        color:{
            type:String,
            default:'#111'
        },
        slideNumber:{
            type:Number,
            default:1
        },
        image:{
            type:String,
            default:'appointment2.png'
        }
    },
    components:{
        'drrama-button':drramaButton
    },
    computed:{
        styleObject(){
            return{
            'height':'100%',
            'width':'100%',
            'background-color':this.bgColor,
            'color':this.color
            }
            
        },
        backgroundCircle(){
            return{
                'background-color':this.bgColor,
            }
               
        },
        buttonStyle(){
            return{
                "position": "absolute",
                 "right": "30px",
                 "top":"400px"
            }
       
        },
        title(){
             var title = ''
            switch(this.slideNumber){
                case 0:title = ''
                break;
                 case 1:title = 'BOOK AN APPOINTMENT'
                break;
                 case 2:title = 'STUDY OF THE PATIENT'
                break;
                 case 3:title = 'BOOK AN APPOINTMENT'
                break;
                 case 4:title = 'BOOK AN APPOINTMENT'
                break;
                 case 5:title = 'BOOK AN APPOINTMENT'
                break;
                 case 6:title = 'BOOK AN APPOINTMENT'
                break;
                 case 7:title = 'BOOK AN APPOINTMENT'
                break;
                 case 8:title = 'BOOK AN APPOINTMENT'
                break;
                
            }
            return title
        },
        iconic(){
            var image = ''
            switch(this.slideNumber){
                case 0:image = 'home_hand.png'
                break;
                 case 1:image = 'appointment2.png'
                break;
                 case 2:image = 'studyOfPat.png'
                break;
                 case 3:image = 'TESTS.png'
                break;
                 case 4:image = 'doctors.png'
                break;
                 case 5:image = 'step5.png'
                break;
                 case 6:image = 'treatment_plan.png'
                break;
                 case 7:image = 'prognosis_treatmemt.png'
                break;
                 case 8:image = 'last.png'
                break;
                
            }
            return require(`~/static/planfamily/${image}`)
        }
    }
    
}
</script>
<style>
h1{
    z-index: 99;
    text-align: center;
}
.here:after {
    content:"";
    position: absolute;
    z-index: 88;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #fff;
    transform: translate(-50%);
}
.here{
    /* z-index:99;
    position: relative; */
}
.right-text-fp{
    width:450px;
  
    margin:auto;
}
.plan-slide-image{
        height: 450px;
    display: block;
    margin: auto;
    position:relative;
    top:200px;
    z-index:99;
   
}
.circle{
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    border:1px solid white;
    border-radius: 50%;
    padding:10px;
    z-index: 100;
    top:100px;
}

</style>