<template>
<div class='purple-band container-drdrama' :style='styleObject'>
    <p>{{this.text}}</p>
</div>
    
</template>
<script>
export default {
    props:{
        text:{
            type:String,
            default:'DR RAMA'
        },
        styleObject:{
            type:Object
        }
    }
}
</script>
<style>
.purple-band{
    /* background-color: #59548D; */
    /* background-color: rgb(126, 87, 194); */
    height: 140px;
   
    margin:30px 0px;
    text-align: center;

}
.purple-band > p{
 color: rgb(126, 87, 194);
    font-size: 60px;
    text-transform: uppercase;
    /* font-weight: bold; */

    padding-top:22px;
}
.purple-band > p:after{
    content:'';
    width: 200px;
 background: rgb(126, 87, 194);
 height: 3px;
 display: block;
 margin: 0 auto;
   
}
</style>